@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

body {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364);
  animation: gradientBG 15s ease infinite;
  font-family: Poppins !important;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-nav {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-radius: 5px;
  color: aliceblue;
}

:root {
}

.btn-link {
  text-decoration: none !important;
  --bs-btn-color: slategrey;
}

.custom-dynamic-invoice {
  margin-bottom: 4rem;
}

.category-card {
  padding: 4px;
  border-radius: 1rem;
}

.nav-adjust {
  margin-left: 2px;
  margin-right: 2px;
}

.text-gst {
  color: #d83f31 !important;
}

.text-gst-title {
  color: #d83f31 !important;
}

.card-layover-align {
  height: auto;
}

.invoice-terms-title {
  font-size: 14px;
}

.invoice-condition-title {
  font-size: 12px;
}

.custom-nav-app {
  border-radius: 10px;
  color: #ffffff;
  background-color: slategrey;
}

.aqua-border {
  border: 0.5px solid #d83f31;
}

.total-font {
  font-size: 1.5rem;
  font-weight: bolder;
}

.total-align {
  margin-right: 75px;
}
