@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  font-family: Poppins !important;
}

.body-adjust {
  height: 99vh !important;
}

.custom-nav {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-radius: 5px;
  color: aliceblue;
}

:root {}

.btn-link {
  text-decoration: none !important;
  --bs-btn-color: slategrey;
}

.custom-dynamic-invoice {
  margin-bottom: 4rem;
}

.category-card {
  padding: 4px;
  border-radius: 1rem;
}


.nav-adjust {
  margin-left: 2px;
  margin-right: 2px;
}